*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
.btn_add{
    width : fit-content;
    margin-bottom: 20px;
    background-color: aqua;
    padding: 5px 20px;
    color: white;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;
    text-decoration: none;

}

.btn_add img{
    margin-right: 5px;
    height: 20px;
}
.mytable{
    border-collapse:collapse ;
    color:#404040 ;
   
}
th{
    font-size: 16px;
    border-bottom: 3px solid #ffcb61;
    padding: 5px 20px;
    font-weight:500 ;
}
td{
    font-weight:400 ;
    padding:5px 30px ;
    font-size: 14px;
    text-align: center;
}
img{
    height: 25px;
}
tr:nth-child(2n){
background-color: #f6f8f8;
}
tr:nth-child(2n) td{
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0
}

.form{
    background-color: #6c569b;
    padding: 25px;
    box-shadow:0 0 10px rgba(0,0,0, 0.2) ;
    border-radius: 6px;  

}
.form form{
    display :flex;
    width : 350px; 
    flex-direction: column ;
}
.back_btn{
    color: #f8f8fc;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.back_btn img{
    height: 15px;
    margin-right:5px ;
}
h2{
    margin : 10px 0px;
    font-weight: 500;
    color: white ;

}
input{
  padding: 5px;
  border: 1px solid #999;  
  outline: 0;
  border-radius: 8px;
  margin-top: 2px;
}
input:focus{
    border : 1px solid #ffcb61;
}
input[type="submit"]{
margin-top: 25px;
background-color: rgb(55, 168, 55);
border: 1px solid   rgb(51, 112, 51);
cursor: pointer;
color : #fff;
text-transform: uppercase;

}
